# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### *Objectives:*
1. java
2. julia
3. SQL
4. Python

### List of the popular data science languages
1. R
2. Python
3. SQL

### Some of the commonly used libraries used by Data Scientists:
1. Pandas
2. NumPy
3. Matplotlib

### Data science tools

| Data Science tools |
|-------|
| Apache spark |
| Julia |
| Jupyter notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [26]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [28]:
### This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
 ### Ruy Guerrero